# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env

# MyPy / Pytest / Coverage caches
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Pre-commit & tools
.pre-commit/
.cache/
*.log

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
